/*
 * style.css
 */
body{
    height: 100%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    height: 100%;
}
.row {
    margin: 2px 5px 20px;
    height: 100%;
    background-color: white;
    border: none;
}

[class*="col-"], header, div[role="main"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;

}
div[role="main"] {
    background-color: #fff;
    height: 400px;

}

div[role="warning"] {
    border: 1px solid orange;
    border-radius: 8px;
}

nav{
    position: flex;
}