{% extends "model-page.html" %}
    <br>
{% block content %}
<body>
    <div id="globeViz"></div>
   <div class="container" role="warning" >
        <header class="row">
           Casos Confirmados
        </header>
        <div class="row" >
            <div role="main" class="col-md-6">
                div main
            </div>
            <aside role="main" class="col-md-6">
                div asside
            </aside>
        </div>
    </div>
</body>


<script type="text/javascript">
     var dados_diarios  = {{ dados_diarios|tojson }};
     console.log(JSON.stringify(dados_diarios));

     var dados_acumulados = {{ dados_acumulados|tojson }}
     console.log(JSON.stringify(dados_acumulados));

     var dados_covid_semanal = {{ dados_covid_semanal|tojson }};
     console.log(JSON.stringify(dados_covid_semanal));
 </script>
 <script type=text/javascript src="{{url_for('static', filename='JS/LineChart.js') }}"></script>

{% endblock %}