<head>
    <meta charset="UTF-8">
    <title>Visualizações sobre o Covid</title>
    <!-- d3.js -->
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS Globe -->
    <link rel="stylesheet" href="{{
        url_for('static', filename='assets/CSS/styleGlobe.css') }}">
    <!-- Globe -->
    <script src="//unpkg.com/d3"></script>
    <script src="//unpkg.com/globe.gl"></script>
    <!-- <script src="static/JS/Globe.js"></script> -->
    <script type=text/javascript src="{{url_for('static', filename='JS/GlobeGL.js') }}"></script>
</head>
<body>
     <div class="container-fluid" >
        <div id="globeViz"> </div>

    </div>
</body>

<script>

</script>
